### ** Trees: Ensemble Methods - Random Forest

*Bagging to decrease the model’s variance;*

Bagging: Training a bunch of individual models in a parallel way. Each model is trained by a random subset of the data.

BAGGing stands for Bootstrapping(sampling with replacement) and AGGregating (Averaging predictions).

With Random Forest in addition to taking the random subset of data, it also takes the random selection of features rather than using all features to grow trees. When you have many random trees. It’s called Random Forest.

With Random Forest, our goal is to reduce the variance of a decision Tree. We end up with an ensemble of different models. Average of all the predictions from different trees are used which is more robust than a single decision tree.

- forests = high variance, low bias base learners

In [86]:
import pandas as pd
import numpy as numpy

from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
from sklearn.metrics import f1_score

In [2]:
#load dataset

X,y = load_iris(return_X_y=True)

#train,test split

X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=42)

#random forest with gini
rf = RandomForestClassifier(criterion='gini',n_estimators=150,max_depth=4,n_jobs=-1)

rf.fit(X_train,y_train)

rf_predict = rf.predict(X_test)

f1_score(y_test, rf_predict, average=None)

array([1., 1., 1.])

In [3]:
#random forest with entropy
rf = RandomForestClassifier(criterion='entropy',n_estimators=200,max_depth=4,n_jobs=-1)

rf.fit(X_train,y_train)

rf_predict = rf.predict(X_test)

f1_score(y_test, rf_predict, average=None)

array([1., 1., 1.])

Exercise: Can you get a better mean absolute error compared to the random forest used at https://shoe-size-predict.herokuapp.com/

Mean absolute error at present is 0.7906

In [8]:
data = pd.read_csv('data/rf_data/data.csv', index_col=0)

In [9]:
data.head()

   height  sex_no  shoe_size
0   160.0       2         40
1   171.0       2         39
2   174.0       2         39
3   176.0       2         40
4   195.0       1         46

In [22]:
height = data.loc[:, 'height']
height

0     160.0
1     171.0
2     174.0
3     176.0
4     195.0
      ...
59    162.0
60    175.0
61    162.0
62    156.0
63    152.0
Name: height, Length: 162, dtype: float64

In [25]:
sex = data.loc[:, 'sex_no']
sex

0     2
1     2
2     2
3     2
4     1
     ..
59    1
60    2
61    1
62    2
63    2
Name: sex_no, Length: 162, dtype: int64

In [29]:
size = data.loc[:, 'shoe_size']
size

0     40
1     39
2     39
3     40
4     46
      ..
59    40
60    39
61    40
62    38
63    39
Name: shoe_size, Length: 162, dtype: int64

In [31]:
y = data['shoe_size']
x = data.drop('shoe_size', axis=1)

In [32]:
x

    height  sex_no
0    160.0       2
1    171.0       2
2    174.0       2
3    176.0       2
4    195.0       1
..     ...     ...
59   162.0       1
60   175.0       2
61   162.0       1
62   156.0       2
63   152.0       2

[162 rows x 2 columns]

In [33]:
y

0     40
1     39
2     39
3     40
4     46
      ..
59    40
60    39
61    40
62    38
63    39
Name: shoe_size, Length: 162, dtype: int64

In [81]:
x_test, x_train, y_test, y_train = train_test_split(x, y, test_size=0.55, random_state=42)

In [82]:
from sklearn.metrics import mean_absolute_error

In [89]:
#rf = RandomForestRegressor(n_estimators=150, max_depth=4, n_jobs=-1)
rf = RandomForestClassifier(criterion='gini', n_estimators=150, max_depth=4, n_jobs=-1)
rf.fit(x_train, y_train)
rf_predict = rf.predict(x_test)

#rf.score(x_test, y_test)
#f1_score(y_test, rf_predict, average=None)

mean_absolute_error(y_test, rf_predict)

1.3194444444444444

In [84]:
rf = RandomForestClassifier(criterion='entropy', n_estimators=200, max_depth=4, n_jobs=-1)
rf.fit(x_train, y_train)
rf_predict = rf.predict(x_test)

#rf.score(x_test, y_train)
#f1_score(y_test, rf_predict, average=None)

mean_absolute_error(y_test, rf_predict)

1.3194444444444444